/* line 8, ../../src/style/angular-animate.sass */
.animated.flash {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.flash-add {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.flash-remove {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.bounce {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.bounce-add {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.bounce-remove {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.shake {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.shake-add {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.shake-remove {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.tada {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.tada-add {
  -webkit-animation-name: tada;
  -moz-animation-name: tada;
  -o-animation-name: tada;
  animation-name: tada;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.tada-remove {
  -webkit-animation-name: tada;
  -moz-animation-name: tada;
  -o-animation-name: tada;
  animation-name: tada;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.swing {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.swing-add {
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.swing-remove {
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.wobble {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.wobble-add {
  -webkit-animation-name: wobble;
  -moz-animation-name: wobble;
  -o-animation-name: wobble;
  animation-name: wobble;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.wobble-remove {
  -webkit-animation-name: wobble;
  -moz-animation-name: wobble;
  -o-animation-name: wobble;
  animation-name: wobble;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.pulse {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.pulse-add {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.pulse-remove {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.flip {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.flip-add {
  -webkit-animation-name: flip;
  -moz-animation-name: flip;
  -o-animation-name: flip;
  animation-name: flip;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.flip-remove {
  -webkit-animation-name: flip;
  -moz-animation-name: flip;
  -o-animation-name: flip;
  animation-name: flip;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.flipX {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.flipX-add {
  -webkit-animation-name: flipInX;
  -moz-animation-name: flipInX;
  -o-animation-name: flipInX;
  animation-name: flipInX;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.flipX-remove {
  -webkit-animation-name: flipOutX;
  -moz-animation-name: flipOutX;
  -o-animation-name: flipOutX;
  animation-name: flipOutX;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.flipY {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.flipY-add {
  -webkit-animation-name: flipInY;
  -moz-animation-name: flipInY;
  -o-animation-name: flipInY;
  animation-name: flipInY;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.flipY-remove {
  -webkit-animation-name: flipOutY;
  -moz-animation-name: flipOutY;
  -o-animation-name: flipOutY;
  animation-name: flipOutY;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.fade {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.fade-add {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.fade-remove {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.fadeUp {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.fadeUp-add {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.fadeUp-remove {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.fadeUpBig {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.fadeUpBig-add {
  -webkit-animation-name: fadeInUpBig;
  -moz-animation-name: fadeInUpBig;
  -o-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.fadeUpBig-remove {
  -webkit-animation-name: fadeOutUpBig;
  -moz-animation-name: fadeOutUpBig;
  -o-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.fadeDown {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.fadeDown-add {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.fadeDown-remove {
  -webkit-animation-name: fadeOutDown;
  -moz-animation-name: fadeOutDown;
  -o-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.fadeDownBig {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.fadeDownBig-add {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.fadeDownBig-remove {
  -webkit-animation-name: fadeOutDownBig;
  -moz-animation-name: fadeOutDownBig;
  -o-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.fadeLeft {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.fadeLeft-add {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.fadeLeft-remove {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.fadeLeftBig {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.fadeLeftBig-add {
  -webkit-animation-name: fadeInLeftBig;
  -moz-animation-name: fadeInLeftBig;
  -o-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.fadeLeftBig-remove {
  -webkit-animation-name: fadeOutLeftBig;
  -moz-animation-name: fadeOutLeftBig;
  -o-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.fadeRight {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.fadeRight-add {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.fadeRight-remove {
  -webkit-animation-name: fadeOutRight;
  -moz-animation-name: fadeOutRight;
  -o-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.fadeRightBig {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.fadeRightBig-add {
  -webkit-animation-name: fadeInRightBig;
  -moz-animation-name: fadeInRightBig;
  -o-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.fadeRightBig-remove {
  -webkit-animation-name: fadeOutRightBig;
  -moz-animation-name: fadeOutRightBig;
  -o-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.bounceInOut {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.bounceInOut-add {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.bounceInOut-remove {
  -webkit-animation-name: bounceOut;
  -moz-animation-name: bounceOut;
  -o-animation-name: bounceOut;
  animation-name: bounceOut;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.bounceUp {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.bounceUp-add {
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  -o-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.bounceUp-remove {
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.bounceDown {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.bounceDown-add {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.bounceDown-remove {
  -webkit-animation-name: bounceOutDown;
  -moz-animation-name: bounceOutDown;
  -o-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.bounceLeft {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.bounceLeft-add {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.bounceLeft-remove {
  -webkit-animation-name: bounceOutLeft;
  -moz-animation-name: bounceOutLeft;
  -o-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.bounceRight {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.bounceRight-add {
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -o-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.bounceRight-remove {
  -webkit-animation-name: bounceOutRight;
  -moz-animation-name: bounceOutRight;
  -o-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.rotate {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.rotate-add {
  -webkit-animation-name: rotateIn;
  -moz-animation-name: rotateIn;
  -o-animation-name: rotateIn;
  animation-name: rotateIn;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.rotate-remove {
  -webkit-animation-name: rotateOut;
  -moz-animation-name: rotateOut;
  -o-animation-name: rotateOut;
  animation-name: rotateOut;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.rotateUp {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.rotateUp-add {
  -webkit-animation-name: rotateInUp;
  -moz-animation-name: rotateInUp;
  -o-animation-name: rotateInUp;
  animation-name: rotateInUp;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.rotateUp-remove {
  -webkit-animation-name: rotateOutUp;
  -moz-animation-name: rotateOutUp;
  -o-animation-name: rotateOutUp;
  animation-name: rotateOutUp;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.rotateDown {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.rotateDown-add {
  -webkit-animation-name: rotateInDown;
  -moz-animation-name: rotateInDown;
  -o-animation-name: rotateInDown;
  animation-name: rotateInDown;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.rotateDown-remove {
  -webkit-animation-name: rotateOutDown;
  -moz-animation-name: rotateOutDown;
  -o-animation-name: rotateOutDown;
  animation-name: rotateOutDown;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.rotateLeft {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.rotateLeft-add {
  -webkit-animation-name: rotateInLeft;
  -moz-animation-name: rotateInLeft;
  -o-animation-name: rotateInLeft;
  animation-name: rotateInLeft;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.rotateLeft-remove {
  -webkit-animation-name: rotateOutLeft;
  -moz-animation-name: rotateOutLeft;
  -o-animation-name: rotateOutLeft;
  animation-name: rotateOutLeft;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.rotateRight {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.rotateRight-add {
  -webkit-animation-name: rotateInRight;
  -moz-animation-name: rotateInRight;
  -o-animation-name: rotateInRight;
  animation-name: rotateInRight;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.rotateRight-remove {
  -webkit-animation-name: rotateOutRight;
  -moz-animation-name: rotateOutRight;
  -o-animation-name: rotateOutRight;
  animation-name: rotateOutRight;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.lightSpeed {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.lightSpeed-add {
  -webkit-animation-name: lightSpeedIn;
  -moz-animation-name: lightSpeedIn;
  -o-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.lightSpeed-remove {
  -webkit-animation-name: lightSpeedOut;
  -moz-animation-name: lightSpeedOut;
  -o-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.hinge {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.hinge-add {
  -webkit-animation-name: hinge;
  -moz-animation-name: hinge;
  -o-animation-name: hinge;
  animation-name: hinge;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.hinge-remove {
  -webkit-animation-name: hinge;
  -moz-animation-name: hinge;
  -o-animation-name: hinge;
  animation-name: hinge;
}

/* line 8, ../../src/style/angular-animate.sass */
.animated.roll {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

/* line 15, ../../src/style/angular-animate.sass */
.animated.roll-add {
  -webkit-animation-name: rollIn;
  -moz-animation-name: rollIn;
  -o-animation-name: rollIn;
  animation-name: rollIn;
}

/* line 18, ../../src/style/angular-animate.sass */
.animated.roll-remove {
  -webkit-animation-name: rollOut;
  -moz-animation-name: rollOut;
  -o-animation-name: rollOut;
  animation-name: rollOut;
}
